  .loader {
      color: rgb(124, 124, 124);
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      height: 40px;
      padding: 20px 0 40px 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
  }

  .words {
      width: auto;
      height: 60px;
      overflow: hidden;
      position: relative;
  }

  .word {
      display: block;
      font-size: 35px;
      padding-left: 6px;
      color: #956afa;
      animation: spin_4991 4s infinite;
  }

  @keyframes spin_4991 {
      10% {
          -webkit-transform: translateY(-102%);
          transform: translateY(-102%);
      }

      25% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
      }

      35% {
          -webkit-transform: translateY(-202%);
          transform: translateY(-202%);
      }

      50% {
          -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
      }

      60% {
          -webkit-transform: translateY(-302%);
          transform: translateY(-302%);
      }

      75% {
          -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
      }

      85% {
          -webkit-transform: translateY(-402%);
          transform: translateY(-402%);
      }

      100% {
          -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
      }
  }

  /* Container styles */
  .scrolling-text-container {
      background-color: #eff5ff;
      border-radius: 4px;
      overflow: hidden;
  }

  /* Inner container styles */
  .scrolling-text-inner {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 0;
      --marquee-speed: 90s;
      --direction: scroll-left;
  }

  /* Text styles */
  .scrolling-text {
      display: flex;
  }

  .scrolling-text-item {
      padding: 0 30px;
  }

  /* Apply the animation to the text items */
  .scrolling-text-inner>div {
      animation: var(--direction) var(--marquee-speed) linear infinite;
  }

  /* Pause the animation when a user hovers over it */
  .scrolling-text-container:hover .scrolling-text-inner>div {
      animation-play-state: paused;
  }

  /* Setting the Animation using Keyframes */
  @keyframes scroll-left {
      0% {
          transform: translateX(0%);
      }

      100% {
          transform: translateX(-100%);
      }
  }

  @keyframes scroll-right {
      0% {
          transform: translateX(-100%);
      }

      100% {
          transform: translateX(0%);
      }
  }